<br><br>

<center><h5>BLOG</h5></center>
<div class="col-sm-3"><br></div>
<div class="col-sm-6">
<form method = "post">
<table align="center" width="80%" border="1">
	<tr>
		<td> Blog Name</td>
		<td> <input type="text" name="blogName" ng-model="blog.blogName"/></td>
	</tr>
	<tr>
		<td> Blog Content</td>
		<td> <textarea cols="30" row="10" name="blogContent" ng-model="blog.blogContent"></textarea></td>
	</tr>
	<tr>
		<td colspan="2"><center><input class="btn waves-effect waves-light col s12" type="submit" value="Insert Blog" ng-click()="insertBlog()"/></center></td>
	</tr>
</table>

</form>
</div>