

<br><br><br><br>

<center><h4>Login</h4>

 <div class="container" >
 <div class="col-md-4"></div>
 	<div class="col-md-4">  
    <form class="login-form">
    	<input type="text" name="username" class="form-control input-sm chat-input" placeholder="EMAIL" required/>
            
		<input type="password" name="password" class="form-control input-sm chat-input" placeholder="PASSWORD" required/>
       
        <div class="row">
          <div class="input-field col s12">
            <a href="#" class="btn waves-effect waves-light col s12">Login</a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <p class="margin medium-small center-align"><a href="#!/register">Don't have an account? Register Now!</a></p>
          </div>                   
        </div>
      </form> </div></div>  

</center>